{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}
{% block nameweb %} {{ info ['top_title'] }}  {% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  {% if messages %}
      {% for message in messages %}
      <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>{{ message }}</strong>
      </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
<div class="card-body">
<h3>{{ info['long_name'] }}</h3>
<h6>{{ info ['comment1'] }}</h6>
<h5 class="card-title"> {{ info ['comment2'] }}</h5>
<p>{{ info ['comment3'] }} </p>
  </div>
{% endblock %}


 {% block namefoot %} {{ info['long_name'] }} {% endblock %}
