{% extends 'base2.html' %}
{% block header %}
  <h1>{% block title %}Portfolio{% endblock %}</h1>
{% endblock %}

{% block nameweb %} {{ info ['top_title'] }}  {% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  {% if messages %}
      {% for message in messages %}
      <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>{{ message }}</strong>
      </div>
  {% endfor %}
    
  {% endif %}
{% endwith %} 
<div class="d-flex flex-wrap justify-content-center">
{% for post in posts %}

<div class="card mycard">
        {% if post['image'] %}
        <img class="card-img-top" src="/static/images/img/{{post['image']}}" alt="Card image cap">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ post['title'] }}</h5>
            <p class="card-text">{{ post['body'] }}</p>
            <a href="{{ url_for('portfolio.project', id=post['id']) }}" class="btn btn-secondary">Go</a>
            {% if g.user %}
            <a href="{{ url_for('portfolio.update', id=post['id']) }}" class="btn btn-secondary">Editar</a>
            <a href="{{ url_for('portfolio.delete', id=post['id']) }}" class="btn btn-secondary" onclick="return confirm('Are you sure?');">Borrar</a>
            {% endif %}
            
        </div>
</div>

{% endfor %}
</div>
{% if g.user %}
<div class="d-flex flex-wrap justify-content-center">

        <div class="card mycard">
                <a class="action btn btn-secondary" href="{{ url_for('portfolio.create')}}">Añadir proyecto</a>
        </div>

</div>
{% endif %}
{% endblock %}
{% block namefoot %} {{ info['long_name'] }} {% endblock %}
