{% extends 'base2.html' %}
{% block header %}
  <h1>{% block title %}Portfolio{% endblock %}</h1>
{% endblock %}
{% block nameweb %} {{ info ['top_title'] }}  {% endblock %}

{% block content %}
<div class="card">
<div class="card border-0 d-flex align-items-center">
    {% if post['image'] %}
    <img class="card-img-top mycard" src="/static/images/img/{{post['image']}}" alt="Card image cap">
    {% endif %}

    
    
  
</div>

<div class="card-body ">
       
    <h5 class="card-title">{{ post['title'] }}</h5>
    <p class="card-text">{{ post['body'] }}</p>
    <p>{{ post ['long_comment'] }} </p>
  </div>

    
</div>  
<div class="d-flex flex-wrap justify-content-center mybuttons">  
        
    <a
    href="/portfolio"
    class="card-link btn btn-secondary"
    id="backlink"
><i class="fas fa-arrow-left"></i> Volver</a>
{% if post['repositoryb'] %}
<a
    href="{{ post['repositoryb'] }}"
    target="_blank"
    class="card-link btn btn-secondary"
><i class="fab fa-bitbucket"></i> Bitbucket</a>
{% endif %}
{% if post['repositoryg'] %}
<a
    href="{{ post['repositoryg'] }}"
    target="_blank"
    class="card-link btn btn-secondary"
><i class="fab fa-github"></i> GitHub</a>
{% endif %}
{% if post['link'] %}
<a
    href="{{ post['link'] }}"
    target="_blank"
    class="card-link btn btn-secondary"
><i class="fas fa-link"></i> Link</a>
{% endif %}
</div> 
</div> 

{% endblock %}

{% block namefoot %} {{ info['long_name'] }} {% endblock %}