{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Portfolio{% endblock %}</h1>
{% endblock %}

{% block nameweb %} {{ info ['top_title'] }} {% endblock %}
{% block content %}

<div class="card border-0 card-body">

  <form method="post" enctype="multipart/form-data">

    <div class="form-group">
      <input class="form-control" name="title" id="title" value="{{ request.form['title'] or post['title'] }}"
        placeholder="titulo" required>
    </div>
    <div class="form-group">
      <input type=file name="image" id="image" value="{{ request.files['image'] or post['image'] }}">
    </div>
    <div class="form-group">
      <textarea class="form-control" name="body" id="body"
        placeholder="descripcion">{{ request.form['body'] or post['body'] }}</textarea>
    </div>
    <div class="form-group">
      <textarea class="form-control" name="long_comment" id="long_comment"
        placeholder="comentario">{{ request.form['long_comment'] or post['long_comment'] }}</textarea>
    </div>
    <div class="form-group">
      <input class="form-control" name="repositoryb" id="repositoryb"
        value="{{ request.form['repositoryb'] or post['repositoryb'] }}" placeholder="bitbucket repository">
    </div>
    <div class="form-group">
      <input class="form-control" name="repositoryg" id="repositoryg"
        value="{{ request.form['repositoryg'] or post['repositoryg'] }}" placeholder="github repository">
    </div>
    <div class="form-group">
      <input class="form-control" name="link" id="link" value="{{ request.form['link'] or post['link'] }}"
        placeholder="enlace web">
    </div>

    <div class="form-group">
      <button class="btn btn-secondary btn-block" type="submit" value="Save">GUARDAR</button>
    </div>
  </form>


</div>

{% endblock %}
{% block namefoot %} {{ info['long_name'] }} {% endblock %}