<!doctype html>
<html lang="en">

<head>
  {% block head %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon/favicon.ico') }}">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>{% block title %}{% endblock %} - Josanweb</title>
  {% endblock %}
</head>


<body>

  <div class="container">
    <nav class="nav justify-content-center align-items-center mynav grow-nav">
      <div class="d-flex justify-content-around flex-wrap navgroup">

        <a class="nav-link active navlink shrink-link" href="{{ url_for('index') }}">Home</a>
        <a class="nav-link navlink shrink-link" href="/portfolio">Portfolio</a>
        <a class="nav-link navlink shrink-link" href="{{ url_for('contact') }}">Contacto</a>
        {% if g.user %}
        <a class="nav-link navlink shrink-link" href="{{ url_for('admin.panel') }}"><i class='fas fa-lg fa-user-cog'></i></a>
        <a class="nav-link navlink shrink-link" href="{{ url_for('admin.logout') }}"><i class='fas fa-lg fa-sign-out-alt'></i></a>
        {% endif %}
      </div>
    </nav>
    <div class=" jumbotron d-flex justify-content-center">
      <h1 class="name">{% block nameweb %}{% endblock %}</h1>
    </div>


    {% block content %}

    {% endblock %}




    <footer class="d-flex justify-content-center mynav myfoot">
      {% block footer %}
      <span class="copyright"><i class="fab fa-creative-commons"></i> 2019 | {% block namefoot %}{% endblock %} | No Rights Reserved</span>
      {% endblock %}
    </footer>
  </div>



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <!--<script src="/static/js/script.js"></script>-->
</body>


</html>