
.avatar {
	
    margin: 1em;
    max-width: 9em;

	
}

.mybuttons {
 margin-top: 0.5em;
 margin-bottom:0.5em;
 
}
.jumbotron {
	 margin-bottom:0px;
	
}
.mynav {
    min-height: 5em;
    font-size: 1.25em;
    background-color: black;
    position: relative;
}

.navgroup {
    min-width: 60%;
}

.navlink {
    color: white;
    font-weight: bolder;
    margin-left: 3em;
    margin-right: 3em;
    text-align: center;
}

.navlink:hover {
    color: gray !important;
}

.fas {
    color:white;
}

.fas:hover {

    color: gray !important; 
}
.name {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    border: 3px solid black;
    padding: 0.5em;
}

.mycard {
    margin: 1em;
    max-width: 15em;
}

.myfoot {
    color: white;
	
}

.copyright {
    font-size: 0.8em;
    margin: 1em;
}

.abandoned {
    color: red;
}

.myicons i {
    font-size: 3em;
    color: black;
    margin: 0.5em;
}

.fixed {
    position: absolute;
    top: 1em;
    right: 1em;
}

.form-container {
    margin-top: 2em;
    margin-bottom: 2em;
}

.login-form {
    margin-top: 1em;
}

.error-container {
    margin: 3em;
}

.btn-margin {
    margin-top: 0.3em;
}

@media screen and (max-width: 995px) {
    .small-stack {
        display: flex;
        flex-direction: column;
    }

    .small-mtop {
        margin-top: 0.5em;
    }

    .grow-nav {
        min-height: 6em;
    }

    
}

@media screen and (max-width: 995px) and (min-width: 555px) {
    .shrink-link {
        margin-left: 0px;
        margin-right: 0px;
    }

    
}
