{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}
{% block nameweb %} {{ info ['top_title'] }}  {% endblock %}
{% block content %}
<div class="card-body">
  <h3 class="btn btn-secondary btn-block">Información de la web</h3>
  
    <h5>Bienvenido {{ usuario[0] }}</h5>
    <h5>Proyectos: {{ numposts[0] }}</h5>
  
   
<h3 class="btn btn-secondary btn-block" type="button" data-toggle="collapse" data-target="#configuracion" aria-expanded="false" aria-controls="configuracion">Configuración</h3>
  <div class="collapse" id="configuracion">
    
     <div class="form-group">
     <form action="{{ url_for('admin.perfil') }}" method="get">
      <input class="btn btn-info btn-block" type="submit" value="Editar perfil">
     </form>
     </div>

     <div class="form-group">
      <form action="{{ url_for('admin.password') }}" method="get">
       <input class="btn btn-warning btn-block" type="submit" value="Editar password">
      </form>
    </div>
     
     <div class="form-group">
      <form action="{{ url_for('admin.reset') }}" method="get">
      <input class="danger btn btn-danger btn-block" type="submit" value="Eliminar base de datos" onclick="return confirm('Eliminar la base de datos?');">
      </form>
    </div>
  </div>
</div>

{% endblock %}
{% block namefoot %} {{ info['long_name'] }} {% endblock %}