{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Password{% endblock %}</h1>
{% endblock %}
{% block nameweb %} {{ info ['top_title'] }}  {% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  {% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>{{ message }}</strong> 
      </div>
  {% endfor %}
    
  {% endif %}
{% endwith %} 
<div class="card border-0 card-body">
    
    <form method="post" enctype="multipart/form-data">
      
        <div class="form-group">
            <input type=password class="form-control" name="password" id="password" value="{{ request.form ['password'] }}" placeholder="password">
            <small id="PasswordHelp" class="form-text text-muted">Ej: [=PaSw0rd%)</small>
        </div>                                                          
        <div class="form-group">
          <button class="btn btn-secondary btn-block" type="submit" value="Save">GUARDAR</button>
        </div>
  </form>
      
  
</div>

{% endblock %}
{% block namefoot %} {{ info['long_name'] }} {% endblock %}