{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Panel{% endblock %}</h1>
{% endblock %}
{% block nameweb %} {{ info ['top_title'] }}  {% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  {% if messages %}
      {% for message in messages %}
      <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>{{ message }}</strong>
      </div>
  {% endfor %}
    
  {% endif %}
{% endwith %} 
{% if info ['avatar']  %}
<img
            class="avatar img-thumbnail"
            src="/static/images/img/{{ info ['avatar'] }}"
            alt="Card image cap">
{% endif %}
<div class="card border-0 card-body">
    
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
          <input  type=file name="avatar" id="avatar" value="{{ request.form['avatar'] }}"  >
        </div>
        <div class="form-group">
            <input class="form-control" name="top_title" id="top_title" value="{{ request.form ['top_title'] or post ['top_title'] }}" placeholder="titulo">
        </div>                                                          
        <div class="form-group">
            <input type="text" class="form-control" name="long_name" id="long_name" value="{{ request.form['long_name'] or post ['long_name']}}" placeholder="nombre">
        </div>
        <div class="form-group">
            <input class="form-control" name="comment1" id="comment1" value="{{ request.form['comment1'] or post ['comment1']}}" placeholder="comentario 1">
        </div>
        <div class="form-group">
            <input class="form-control" name="comment2" id="comment2" value="{{ request.form['comment2'] or post ['comment2']}}" placeholder="comentario 2">
        </div>
        <div class="form-group">
            <textarea class="form-control" name="comment3" id="comment3" placeholder="comentario 3">{{ request.form['comment'] or post['comment3'] }}</textarea>
        </div>
        <div class="form-group">
            <input class="form-control" name="mail" id="mail" value="{{ request.form['mail'] or post['mail'] }}" placeholder="mail">
        </div>
        <div class="form-group">
            <input class="form-control" name="linkedin" id="linkedin" value="{{ request.form['linkedin'] or post['linkedin'] }}" placeholder="linkedin">
        </div>
        <div class="form-group">
            <input class="form-control" name="bitbucket" id="bitbucket" value="{{ request.form['bitbucket'] or post['bitbucket'] }}" placeholder="bitbucket">
        </div>
        <div class="form-group">
            <input class="form-control" name="github" id="github" value="{{ request.form['github'] or post['github'] }}" placeholder="github">
        </div>
        <div class="form-group">
            <input class="form-control" name="cert" id="cert" value="{{ request.form['cert'] or post['cert'] }}" placeholder="certificaciones-linux">
        </div>
        <div class="form-group">
          <button class="btn btn-secondary btn-block" type="submit" value="Save">GUARDAR</button>
        </div>
  </form>
  
</div>

{% endblock %}
{% block namefoot %} {{ info['long_name'] }} {% endblock %}