{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}
{% block nameweb %} {{ info ['top_title'] }}  {% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  {% if messages %}
      {% for message in messages %}
      <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>{{ message }}</strong> 
      </div>
  {% endfor %}
    
  {% endif %}
{% endwith %} 
<div class="card border-0 card-body">
  <form method="post">
    <div class="form-group">
    <input class="form-control" name="username" id="username" placeholder="usuario" required>
    </div>
    <div class="form-group">
    <input class="form-control" type="password" name="password" id="password" placeholder="password" required>
    </div>
    <div class="form-group">
    <input class="btn btn-secondary btn-block" type="submit" type="submit" value="OK">
    <small id="RegisterHelp" class="form-text text-muted">Escribe un usuario y contraseña para administrar la web</small>
    </div>
  </form>
</div>
{% endblock %}
{% block namefoot %} {{ info['long_name'] }} {% endblock %}