{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block nameweb %} {{ info ['top_title'] }}  {% endblock %}
{% block content %}
{% if avatar.0  %}
        <img
            class="card-img-top mycard"
            src="/static/images/img/{{avatar[0]}}"
            alt="Card image cap">
{% endif %}
        <div class="card-body">
            <h3>{{ info['long_name'] }}</h3>
            
        <p class="card-text d-flex justify-content-center flex-wrap myicons">
                {% if info['mail'] != null and info ['mail'] !="" %}
                <a href="{{ info['mail'] }}"><i class="fas fa-envelope-square"></i></a>
                {% endif %}
                {% if info['linkedin']!=null and info['linkedin']!="" %}
                <a href="{{ info['linkedin'] }}" target="_blank"><i class="fab fa-linkedin"></i></a>
                {% endif %}
                {% if info['bitbucket']!=null and info['bitbucket']!="" %}
                <a href="{{ info['bitbucket'] }}" target="_blank"><i class="fab fa-bitbucket"></i></a>
                {% endif %}
                {% if info['github']!=null and info['github']!="" %}
                <a href="{{ info['github'] }}" target="_blank"><i class="fab fa-github"></i></a>
                {% endif %}
                {% if info['cert']!=null and info['cert']!="" %}
                <a href="{{ info['cert'] }}" target="_blank"><i class="fab fa-linux"></i></a>
                {% endif %}
        </p>
        </div>


{% endblock %}
{% block namefoot %} {{ info['long_name'] }} {% endblock %}